@import url(http://fonts.googleapis.com/css?family=Ruthie);
.navbar {
  border-bottom: 1px solid #000000;
  background-color: #cccccc;
}
.navbar h1 {
  font-family: 'Ruthie', cursive;
  font-size: 48px;
  height: 48px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/** Constant footer */
#footer {
  position: fixed;
  z-index: 203;
  height: 30px;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: .9em;
  border-top: 1px solid #000000;
  padding-top: 10px;
  color: #000000;
  background-color: #cccccc;
}
#footer ul {
  list-style-type: none;
}
#footer ul li {
  display: inline-block;
  color: #999999;
  padding: 0 15px;
}
#information-block {
  width: 800px;
  margin: 0 auto;
  padding: 15px;
}
#video-upload-form {
  width: 500px;
  margin: 0 auto;
}
