@import "variables";

#lecture-container {
    width: 950px
}

.lecture-timestamp {
    width: 100px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 2px;
}

.lecture-segment-text {
    width: 828px;
    display: inline-block;
    margin-left: 0px;
    margin-right: 10px;
}